.table-button {
	box-shadow: 3px 4px 11px -6px #1c1b18;
	background-color:#ffffff;
    border-radius:5px;
    border: 2px;
	display:inline-block;
	cursor:pointer;
	color:#050505;
	font-family:Trebuchet MS;
	font-size:16px;
	padding:3px 12px;
}
.table-button:hover {
	background:linear-gradient(to bottom, #cacdd6 5%, #ffffff 100%);
	background-color:#fff8e5;
}
.table-button:active {
    position:relative;
	top:1px;
}

        
        
        